@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header {

    background-color: #ffe3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

}

header img {
    width: 100px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header li {
    cursor: pointer;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 50px;
}

header li a {
    transition: 0.3s;
    color: rgba(197, 112, 52, 0.82);
}

header a:hover {
    color: #7724DA;
    text-decoration: none;
}

main {
    background-color: #FFE3E3;
}


.banner_produtos1 img {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.barra {
    height: 110px;
}

.primeiro_banner {
    width: 100%;
    height: 500px;
    background-image: url("./img/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_produtos3 {
    width: 100%;
    height: 100%;
    background-image: url("./img/bannner5.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.banner_produtos3 p {
    display: flex;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    color: #fff;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 220px;
}



.segundo_banner img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background-size: cover;
    width: 800px;
    padding: 70px;
}

.nossos_produtos {
    background-color: #7724DA;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Grandstander';
    font-style: normal;
    color: #FFFFFF;
    padding: 80px;

}

.nossos_produtos h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
}

.nossos_produtos p {
    width: 500px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quem_somos {
    background-color: #C55634;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Grandstander';
    font-style: normal;
    color: #FFFFFF;
    padding: 80px;

}

.quem_somos h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
}

.quem_somos p {
    width: 500px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

footer img {
    width: 180px;
    margin: 20px;
}

.fale_conosco h3 {
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    /* identical to box height */
    color: #7724DA;
}

.fale_conosco p {
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;

    color: #000000;
}


#nossosProdutos {
    transition: 2s;
}

@media only screen and (max-width: 600px) {


    header img {
        width: 50px;
    }

    header ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }


    header li {
        cursor: pointer;
        font-family: 'Grandstander';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        transition: 0.3s;
        margin: 0 auto;
        padding: 12px;

        /* identical to box height */


        color: rgba(197, 112, 52, 0.82);
    }

    header li:hover {
        color: #7724DA;
    }

    .barra {
        height: 220px;
    }

    .segundo_banner img {
        width: 500px;
        padding: 3em;
    }

    .cardseparada {
        margin: 5px;
    }


    .banner_produtos3 {
        width: 100%;
        height: 100%;
        background-image: url("./img/bannner5.png");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }


    .banner_produtos3 p {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding: 60px;
    }

    .nossos_produtos h1 {
        font-weight: 700;
        font-size: 25px;

    }

    .nossos_produtos p {
        width: 300px;
        font-weight: 500;
        font-size: 15px;
        line-height: 40px;
        text-align: justify;
    }


    .quem_somos h2 {
        font-weight: 700;
        font-size: 25px;
    }

    .quem_somos p {
        width: 300px;
        font-weight: 500;
        font-size: 15px;
        line-height: 40px;
        text-align: justify;
    }


    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 40px;

    }

    footer img {
        width: 180px;
        margin: 20px;
    }



    .fale_conosco h3 {
        font-family: 'Grandstander';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 70px;
        /* identical to box height */
        color: #7724DA;
    }

    .fale_conosco p {
        font-family: 'Grandstander';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 40px;
        /* identical to box height */

        text-align: center;
        text-decoration-line: underline;

        color: #000000;
    }
}